<!-- <h2><u>Asset Creation</u></h2>
<form name="assetCreationForm" #form="ngForm" autocomplete="off" (ngSubmit)="onSubmit(form)">

</form> -->
<div class="container d-flex">
<div class="col-md-5">
<h2><u>Asset List</u></h2>
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Asset Id</th>
            <th>Model No:</th>
            <th>Serial No:</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let asset of assetsService.assets">
            <td>{{asset.aMId}}</td>
            <td>{{asset.aMModel}}</td>
            <td>{{asset.aMSerialNum}}</td>
        </tr>
    </tbody>
</table>
</div>
<div class="col-md-6 p-2">
    <app-asset-entry></app-asset-entry>
</div>
</div>

